<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.scully.korattester"
   name="Korat Tester Plug-in"
   version="0.0.5"
   provider-name="Matt Scully"
   class="com.scully.korat.KoratPlugin">

   <runtime>
      <library name="korat.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-collections-3.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-digester-1.7.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-beanutils.jar">
         <export name="*"/>
      </library>
      <library name="lib/javassist-3.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-betwixt-0.8.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.scully.korat.contribution.context.type"
            objectClass="org.eclipse.jdt.core.IType">
         <menu
               label="&amp;Korat"
               path="additions"
               id="com.scully.korat.popup.menu1">
            <separator name="slot1" />
         </menu>
         <action
               enablesFor="1"
               label="&amp;Create State Space"
               class="com.scully.korat.popup.actions.CreateStateSpace"
               style="push"
               menubarPath="com.scully.korat.popup.menu1/slot1"
               id="com.scully.korat.createStateSpace">
         </action>
      </objectContribution>
   </extension>


</plugin>
